<div>
    <h1 class="page-header">All Books:</h1>
    <div class="col-lg-12 bookList" ng-init="getBooks()">
        <div class="bookCover" ng-repeat="book in books">
            <a>
                <img ng-src="{{book.volumeInfo.imageLinks.thumbnail}}" alt="{{book.volumeInfo.title}}">
                <button ng-show="isLoggedIn && !book.requester && book.addedBy!=currentUser.email" class="inner-button" ng-click="requestBook(book,$index,currentUser)">Request</button>
            </a>
        </div>
    </div>    
</div>