.bookCover {
    vertical-align: top;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 3px;
    margin: 3px;
}

.inner-button {
    vertical-align: top;
    margin-left: -83px;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .9;
}

body {
padding-top: 60px;
}
.relative {
position: relative;
}